<template>
  <div id="app">
    <div style="width: 100%;height: 90vh;">
      <VirtualCanvasTree :data="treeJson"
          @node-click="handleClick">
      </VirtualCanvasTree>
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";

import VirtualCanvasTree from "@/components/virtual-canvas-tree.vue";
import treeJson from "./tree.json";

export default defineComponent({
  name: "ServeDev",
  components: {
    VirtualCanvasTree,
  },
  data() {
    return {
      treeJson: treeJson.data.projectTrees,
    };
  },

  methods: {
    handleClick(data) {
      console.log("data", data);
    },
  },

});
</script>

<style>
body {
  margin: 0;
}
</style>
