<template>
    <div>hellword</div>
</template>

<script>
export default {
    name: "Test",
};
</script>

<style lang="scss" scoped>
div {
    height: 200px;
    width: 300px;
    background-color: yellow;
}
</style>
